<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @link.link_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @link.body %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
